.search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  justify-content: center;
  margin-top: 10px;
}

.search_text {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 2rem;
  min-width: 240px;
}
.search_bar{
   margin: 5px;
}
